{% macro alternate_links(locales) %}

    {%- if locales|length > 1 and app.request and app.request.attributes.has('_route') and app.request.attributes.has('_locale') -%}

        {%- for locale in locales -%}

            {% set url = url(
                app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params', {})|merge({'_locale': locale})|merge(app.request.query.all)
            ) %}

            <link rel="alternate" hreflang="{{ locale }}" href="{{ url }}">
        {%- endfor -%}

    {%- endif -%}

{% endmacro %}

{% macro empty_message(message = 'macro.empty_message.message') %}

    {% set homepage_url = url('darvin_page_homepage') %}
    {% set referer      = app.request.headers.get('referer') %}

    {{ message|trans|raw }}

    <div class="page-error__btns">

        {% if referer starts with(app.request.schemeAndHttpHost) and referer != homepage_url and referer != app.request.uri %}
            <a class="page-error__btn--back" href="{{ referer }}">{% trans %}macro.empty_message.go_back{% endtrans %}</a>
        {% endif %}

        {% if app.request.uri != homepage_url %}
            <a class="page-error__btn--to-home" href="{{ path('darvin_page_homepage') }}">{% trans %}macro.empty_message.to_homepage{% endtrans %}</a>
        {% endif %}

    </div>
{% endmacro %}

{% macro heading(heading) %}

    {{- heading|raw }}{{ _self.page_number() -}}

{% endmacro %}

{% macro meta_tags(description, title = null, image = null, url = null) %}

    {% set article_author    = darvin_content_config.metaArticleAuthor %}
    {% set article_publisher = darvin_content_config.metaArticlePublisher %}
    {% set og_site_name      = darvin_content_config.metaOgSiteName %}
    {% set twitter_site      = darvin_content_config.metaTwitterSite %}

    {% if twitter_site is not same as(null) and not twitter_site starts with '@' %}

        {% set twitter_site = '@' ~ twitter_site %}

    {% endif %}

    {% if url is same as(null) %}

        {% set url = content_canonical_url() %}

    {% endif %}

    {# Generic #}

    {% if description is not same as(null) %}
        <meta name="description" content="{{ description }}{{ _self.page_number() }}">
    {% endif %}

    {# Open Graph #}

    {% if title is not same as(null) %}
        <meta property="og:title" content="{{ title }}" />
    {% endif %}

    {% if image_active(image) %}
        <meta property="og:image" content="{{ image|image_original(true) }}" />
        <meta property="og:image:width" content="{{ image.width }}" />
        <meta property="og:image:height" content="{{ image.height }}" />
    {% endif %}

    {% if description is not same as(null) %}
        <meta property="og:description" content="{{ description }}" />
    {% endif %}

    <meta property="og:url" content="{{ url }}" />
    <meta property="og:type" content="article" />

    {% if og_site_name is not same as(null) %}
        <meta property="og:site_name" content="{{ og_site_name }}" />
    {% endif %}

    {# Article #}

    {% if article_publisher is not same as(null) %}
        <meta property="article:publisher" content="{{ article_publisher }}" />
    {% endif %}

    {% if article_author is not same as(null) %}
        <meta property="article:author" content="{{ article_author }}" />
    {% endif %}

    {# Twitter #}

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ url }}" />

    {% if title is not same as(null) %}
        <meta property="twitter:title" content="{{ title }}" />
    {% endif %}

    {% if description is not same as(null) %}
        <meta property="twitter:description" content="{{ description }}" />
    {% endif %}

    {% if image_active(image) %}
        <meta property="twitter:image" content="{{ image|image_original(true) }}" />
        <meta property="twitter:image:width" content="{{ image.width }}" />
        <meta property="twitter:image:height" content="{{ image.height }}" />
    {% endif %}

    {% if twitter_site is not same as(null) %}
        <meta property="twitter:site" content="{{ twitter_site }}" />
    {% endif %}

{% endmacro %}

{% macro meta_title(title) %}

    {{- title }}{{ _self.page_number() -}}

{% endmacro %}

{% macro nav_links() %}

    {% if 1 == app.request.attributes.get('_darvin_content_page_params', [])|length %}

        {% set param = app.request.attributes.get('_darvin_content_page_params')|first %}

        {% for name in ['prev', 'next'] %}

            {% set number = app.request.attributes.get('_darvin_content_page_' ~ name) %}

            {% if number %}

                {% set url = url(
                    app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params', {})|merge(app.request.query.all)|merge({(param): number})
                ) %}

                <link rel="{{ name }}" href="{{ url }}">
            {% endif %}

        {% endfor %}

    {% endif %}

{% endmacro %}

{% macro page_number() %}

    {%- set number = app.request.attributes.get(constant('Darvin\\ContentBundle\\EventListener\\Pagination\\PagerSubscriber::REQUEST_ATTR_PAGE_NUMBER'), -1) -%}

    {% if number > 1 %}
        {%- trans with {'%number%': number} %}macro.page_number.number{% endtrans -%}
    {% elseif number == 0 %}
        {%- trans with {'%number%': number} %}macro.page_number.all{% endtrans -%}
    {% endif %}

{% endmacro %}

{% macro truncate_html(html, length = 100, suffix = '...') %}

    {% set stripped = html|striptags %}

    {% set stripped_length = stripped|length %}

    {% if stripped_length > length %}
        <p>{{ stripped|slice(0, length)|raw }}{{ suffix }}</p>
    {% else %}
        {{ html|raw }}
    {% endif %}

{% endmacro %}
